/* Base.scss */

body {
    background-color: $background-color;
    color: $color;
    @include body-font-light;
    font-size: $base-font-size;
}

img {
    max-width: 100%;
    text-align: center;
}

h1 {
   color: $logo-color; 
}

h1, h2, h3 {
    @include headline-font;
    line-height: 1;
    overflow: hidden;
}

a {
    transition: color 300ms linear;
    &:hover {
        transition: color 300ms linear;   
    }
}