/* Globals.scss */

@import url(http://fonts.googleapis.com/css?family=Lato:300,900);

@mixin body-font-light {
    font-family: 'Lato', 'helvetica', 'verdana', sans-serif;
    font-style: normal;
    font-weight: 300;
}

@mixin headline-font {
    font-family: 'Lato', 'helvetica', 'verdana', sans-serif;
    font-style: normal;
    font-weight: 900;
}

$color: #262626;
$background-color: #d9d6d6;
$base-font-size: 22px;
$logo-color: #F37985;
$line-height: 1.45;
@function em($px, $base: $base-font-size) {
        @return($px / $base) * 1em;
}