/* Layout.scss */

nav[role="navigation"] {
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

header[role="banner"] svg {
    box-sizing:border-box;
    align-content: center;
    margin-top: 40px;
    max-width: 100%; 
} 


header[role="banner"], main[role="main"] {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    body {
        margin: 0 auto;
        max-width: 1024px;
        width: 100%;
    }
    header[role="banner"], main[role="main"] {
        max-width: 1024px;
    }
    nav[role="navigation"] {
        position: static;
        align-self: center;
        width: 100%;
   }
    header[role="banner"] svg {
        box-sizing:border-box;
        align-content: center;
        padding-right:40px;
        width: 100%; 
    }
}

.cafe, .food {
    margin-bottom: em(100px);
}